{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block head_title %}JobWolf{% endblock head_title %}</title>
    <link rel="icon" type="image/png" href="{% static 'images/jobwolf_icon.png' %}">
    {% include 'base/css.html' %}
</head>
<body>
    {% include 'nav/navbar.html' %}
    {% include 'base/messages.html' with messages=messages %}
    {% block content %}
    {% endblock content %}

    {% include 'cookie_popup.html' %}

    {% include 'base/js.html' %}
</body>
</html>
