<tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700 border-gray-200">
    <td class="px-6 py-4">
        {{ object.job_title }}
    </td>
    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
        <a href="{{ object.job_url }}" target="_blank" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Job posting</a>
    </th>
    <td class="px-6 py-4">
        {{ object.created_at|timesince }}
    </td>
    <td class="px-6 py-4">
        <a href="{{ object.download_url }}" target="_blank" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Download</a>
    </td>
    <td class="px-6 py-4">
        <a href="{{ object.deletion_url }}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Delete</a>
    </td>
    <td class="px-6 py-4">
        <a href="{{ object.voice_assistant_url }}" target="_blank" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Practice interview</a>
    </td>
</tr>
                
